
/* Estructura index: el mismo header y footer para todos
   los html. Solo cambia el main.
Header: 
    .contenedor_titulo
        p #titulo
    .contenedor_menu
        nav
            a*4
Main:
    #principal
        h1
        button
    #noticias
        .noticia*6
            img, h4, h2, p, a
Footer:
    .contenedor_footer
        .contenedor_socialmedia{}
            img*4
    p Hecho por...
*/


@import "animacion.css"; /* animación del título */

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
} 

/* Paleta de colores principal a usar*/
:root {
    --color-fondo: DodgerBlue; /*SteelBlue;*/ /*MediumSeaGreen;*//*orange;   */
    --color-fondo-claro: #ceeaf9;
    --color-hover: RoyalBlue;  /*Goldenrod;*/ /*Green;         *//*chocolate;*/
    --color-texto: white;
    --color-sombra: black;
    --sombra-menu: 2px 2px 4px var(--color-sombra); /* horiz vert blur color */
    --sombra-btnmenu: 2px 2px 8px var(--color-sombra);
    --sombra-titulo:3px 3px 4px var(--color-sombra), 0 0 25px var(--color-hover), 0 0 5px darkblue;

    --color-bordebtn: rgba(0,0,0,0.3);
    --color-sombrabtn: rgba(0,0,0,0.8);
    --sombra-btn: 2px 2px 10px var(--color-sombrabtn);
    --sombra-btnhover: 5px 5px 8px var(--color-sombrabtn);
    
    /*lienzo p/"oscurecer" la imagen p/leer mejor el texto sobre ella*/
    --color-lienzoimg: rgba(100, 100, 100, 0.5); 
    --lienzo: linear-gradient(0deg, var(--color-lienzoimg),var(--color-lienzoimg) )
}


/*********************** Pantalla muy grande > 1024 **************************/
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
li{ font-size: 1em;}

/********************************************************************/
/****                          HEADER                            ****/
/********************************************************************/
header { 
    position: fixed;
    background-color: var(--color-fondo); 
    border-top: 8px solid white;  /* dejo un pequeño borde blanco arriba
    para que se note el efecto del botón del menú que sube y "sobresale" del header */
    height: 58px; 
    width: 100%;
    z-index: 10;
}

.contenedor_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 0px 10px 0px 45px;
    position: relative; /*para que funcione el top*/
    top: -5px; /* para que sobresalga un poco por arriba */
}

.contenedor_titulo{
    margin: 0;
    padding: 0px 0px;
    font-weight: bold;
    font-size: 2.3em;
    color: var(--color-texto);
    text-shadow:var(--sombra-titulo); 
    /*name duration timing-function delay iteration-count direction fill-mode; */
    animation: elastico 10s ease 5s infinite;
}

/* .contenedor_menu nav { } */

.contenedor_menu nav ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0px 20px;
}

.contenedor_menu nav ul li{
    list-style: none;
    /* padding: 0px 20px; */
}

.contenedor_menu nav ul li a {
    color: var(--color-texto);
    text-shadow: var(--sombra-menu);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 300ms linear;
}

/* #icon_home {
    height: 20px;
    text-align: center;
    filter: drop-shadow(var(--sombra-menu)); 
} */

.contenedor_menu nav ul li a:hover {
    transform: translateY(-5px) scale(1.1, 1.0);
    background-color: var(--color-hover);
    border-radius: 10px;
    box-shadow: var(--sombra-btnmenu);
}

#icon_menu { 
    display:none; /* oculto en pantalla grande */
    /* height: 20px; */
    padding: 10px; 
    color: var(--color-texto);
    text-align: center;
    align-items: center;
    filter: drop-shadow(var(--sombra-menu)); 
    transform: translateY(-6px);
}





/********************************************************************/
/****                           MAIN                             ****/
/********************************************************************/
#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    text-align: center;
    height: 95vh;
    background-image: 
        var(--lienzo),
        url("../img/Sirviendo_plato1_900x0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#principal h1 {
    color: var(--color-texto);
    padding: 0 0 0.5em 0;
}

button, #principal a, .noticia a {
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 30px;
    margin: 10px 0;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid var(--color-bordebtn);
    box-shadow: var(--sombra-btn);
    color: var(--color-texto);
    background-color: var(--color-fondo);
    cursor: pointer;
    transition: all 0.2s linear;
}

button:hover, #principal a:hover, .noticia a:hover {
    background-color: var(--color-hover);
    box-shadow: var(--sombra-btnhover);
    transform: translate(2px,-2px);
}



/**************************  NOTICIAS ***************************/
#noticias{
    background: black;
    padding: 40px 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.noticia{
    /* background: #1f6cb0;   */
    color:#444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0;
    background: #ececec;
}
    .noticia img{
        max-width: 100%;
    }
    
    .noticia h4{ /*fecha*/
        color:white;
        font-size: 13px;
        padding: 10px 5px;
        margin-top:-100px;
    }
    .noticia h2{ /*titulo de noticia*/
        color:white;
        font-size: 25px;
        /* text-transform: uppercase; */
        padding:0 5px 10px 5px;
    }
    .noticia h3{ /*copete*/
        /* color:white; */
        font-size: 20px;
        /* text-transform: uppercase; */
        padding:0 5px 10px 5px;
    }

    .noticia p{
        padding: 0 5px;
        /***************************************************************************/
        /* desde aca el truco para que a la linea 15 recorte el texto poniendo ... */
        display: -moz-box;
        display: -webkit-box;
        display:box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-line-clamp: 15; /*muestra 15 lineas, despues ...*/
        line-clamp: 15;         /* idem */
        overflow: hidden;
        /* hasta aca el truco para recortar texto sobrante */
        /***************************************************/
    }
/************************* FIN NOTICIAS *************************/






/**************************  NOSOTROS  **************************/
#quienes_somos {
    /*display: flex;
    flex-direction: column;*/
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 92vh;
    background-image: 
        var(--lienzo), 
        url("../img/equipococina.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--color-texto);
    font-size: 1.7vw;
}

#quienes_somos h1{
    margin:0.5em;
    padding-top: 20px;
}

#quienes_somos p{
    padding: 0 50px;
    margin: 0.5em;
}

#quienes_somos ul{
    padding: 0 50px;
    margin: 0.0em;
    list-style: none;
}


.subrayado {
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

#listado_alumnos {
    text-align: center;
    background: var(--color-fondo-claro);
}
/**************************  FIN NOSOTROS  **************************/





/********************  TARJETAS 3D DE RECETAS *******************/
main h2 {
    background: var(--color-fondo-claro);
    padding-top: 60px;
    text-align: center;
}

.contenedor_tarjetas{
    background: var(--color-fondo-claro);
    /* max-width: 1200px; */
    margin: auto;
    margin-top: 0px;
    padding-top: 10px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tarjeta_padre{
    margin: 20px;
    perspective: 1000px;
}

.tarjeta_padre:hover .tarjeta{
    transform: rotateY(180deg);
}


.tarjeta{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1000ms;
}

.tarjeta h1 {
    font-size: 3em;
}

.tarjeta_anverso{
    background-size: cover;
    background-position: center;
}


.tarjeta_anverso,
.tarjeta_reverso{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.tarjeta_reverso{
    transform: rotateY(180deg);
    background: white;
}

.contenido_tarjeta_anverso {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.lienzo_fondo_tarjeta{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.contenido_tarjeta_reverso{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.contenido_tarjeta_reverso p{
    margin-top: 30px;
    font-size: 18px;
}

.contenido_tarjeta_reverso a,
.contenido_tarjeta_reverso input {
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.contenido_tarjeta_reverso a:hover,
.contenido_tarjeta_reverso input:hover {
    box-shadow: 1px 1px 30px 0px #449de6;
}
/******************  FIN TARJETAS 3D DE RECETAS ******************/







/********************  RECETAS DE PLATOS   *******************/
.contenedor_receta {
    margin: 0 40px;
    padding: 70px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

    .contenedor_receta h2 {
        color: var(--color-texto);
        text-shadow: var(--sombra-titulo);
        /* font-size: 25px; */
        background: none;
        padding: 0 5px 200px 5px;
        margin-top: -250px;
    }

    .contenedor_receta h3{
        font-size: 20px;
        padding: 10px 5px 10px 5px;
        text-align: center;
    }

    .contenedor_receta h4{
        padding: 10px 25px 0 25px;
    }

    .contenedor_receta ul {
        list-style-type: none;
        padding-left: 100px;
        padding-right: 30px;
    }

    .contenedor_receta p {
        padding: 10px 25px;
    }

    .imagen_receta {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        /* background-image: var(--lienzo); */
    }

    .imagen_receta img {
        width: 100%;
        border-radius: 20px;
    }

    .contenedor_receta .ingredientes {
        background: var(--color-fondo-claro);
        background-image: url("../img/ingredientes.svg");
        background-repeat: no-repeat;
        padding: 25px 20px 0 10px;
    }

    .contenedor_receta .ingredientes h3{
        text-align: right;
        padding-bottom: 50px;
    }

    .contenedor_receta .procedimiento {
        background-image: url("../img/tablapicarv.svg");
        /* background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position: center; */
        padding-top: 220px;
    }

    .contenedor_receta .nutricional {
        background: #BB8FCE;
        border-radius: 20px;
        padding: 10px 10px;
    }

/******************  FIN RECETAS DE PLATOS  ******************/








/******************  FORMULARIO DE INSCRIPCION ******************/
.container_inscripcion {
    background: #181818;
    color: var(--color-texto);
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.logo {
    text-align: center;
    font-size: 3em;
    padding-bottom: 0.5em;
}

.logo span {
    color: var(--color-fondo);
}

.envoltorio_inscripcion_contacto {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.envoltorio_inscripcion_contacto > * {
    padding: 2em;
}

.formulario_inscripcion {
    background: #222222;
}

.formulario_inscripcion form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario_inscripcion form label {
    display: block;
}

.formulario_inscripcion form p {
    margin: 0;
    padding: 1em;
    font-size: 1em;
}

.formulario_inscripcion form .block {
    grid-column: 1 / 3;
}


.formulario_inscripcion form input,
.formulario_inscripcion form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: var(--color-texto);
    border-bottom: 1px solid var(--color-fondo);
}


 .formulario_inscripcion form button {
    width: 100%;
    /* background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em; */
}

/* .formulario_inscripcion form button:hover,
.formulario_inscripcion form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
} */

/* INFO DE CONTACTO */
.info_contacto {
    background: #000;
}

.info_contacto h4, .info_contacto ul, .info_contacto p, .info_contacto iframe{
    text-align: center;
}

.info_contacto h4 {
    margin: 1em 0 0 0;
}

.info_contacto ul {
    list-style: none;
    padding: 0;
}

/***************** FIN FORMULARIO DE INSCRIPCION ****************/








/********************************************************************/
/****                         FOOTER                             ****/
/********************************************************************/
footer { background-color: var(--color-fondo); }

footer .contenedor_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenedor_socialmedia {
    padding-bottom: 0px;
    padding-left: 20px;
    filter: drop-shadow(var(--sombra-menu)); 
}

.contenedor_socialmedia a:hover {
    filter: contrast(300%) drop-shadow(var(--sombra-btnhover));
    transform: scale(1.3,1.3);
}

footer p, footer p a { 
    padding-right: 20px;
    color: var(--color-texto);
    text-shadow: var(--sombra-menu);
    text-decoration: none;
}

footer p a:hover {
    text-shadow: var(--sombra-btnhover);
}







/****************************************************************************
 ****                           Media queries                            ****
 ****************************************************************************/

/****************** Pantalla grande <= 1024 *******************/
@media screen and (max-width: 1024px) { 

    #titulo {
        font-size: 4.5vw;
    }

    .off {
        display: none; /* oculto el texto del menu, dejo solo los simbolos */
    }

    .contenedor_header{
        position: relative; /*para que funcione el top*/
        top: 0px; /* que deje de sobresalir por arriba */
    }

    #noticias{
        grid-template-columns: 1fr 1fr; /* las noticias solo 2 columnas */
    }

    .container_inscripcion {
        padding: 0 1.5em;

    }

    .envoltorio_inscripcion_contacto > * {
        padding: 1em;
    }

    .contenedor_receta {
        grid-template-columns: 1fr;
    }

    .contenedor_receta .ingredientes h3{
        padding-bottom: 100px;
    }

    .contenedor_receta .procedimiento {
        background-image: url("../img/tablapicarv.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /* background-attachment:fixed; */
        background-position: center;
        padding-top: 120px;
    }
}






/****************** Pantalla mediana <= 768 *******************/
@media screen and (max-width: 768px) { 

    #icon_menu {
        display: block; /* muestro el icono del menu*/
        cursor: pointer;
    }

    .contenedor_menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
        display: flex;
        flex-direction: column;
    }
     
    .contenedor_menu nav a {
        display: flex;
        flex-direction: column;
        color: var(--color-texto);
        text-shadow: var(--sombra-menu);
        background-color: var(--color-fondo);
        padding: 20px 0px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menu_mostrado{ /*Clase manipulada por JS*/
        height: 235px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
        display: flex;
        flex-direction: column;
    }

    .contenedor_menu nav a:hover {
        background-color: var(--color-hover);
        border-radius: 10px;
        box-shadow: var(--sombra-btnmenu);
        transform: translateY(-10px) scale(1.1, 1.0);
    }
    
    h1{ font-size: 7.0vw;}
    
    #noticias{
        grid-template-columns: 1fr; /* las noticias solo 1 columna */
    }

    .envoltorio_inscripcion_contacto {
        grid-template-columns: 1fr;
    }
    
    .contenedor_receta .ingredientes h3{
        padding-bottom: 50px;
    }

    footer .contenedor_footer {
        flex-direction: column;
        justify-content: center;
    }
}







/****************** Pantalla chica < 576 (min 400) *******************/
@media screen and (max-width: 576px) and (min-width: 400px) { 

    .contenedor_menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
        display: flex;
        flex-direction: column;
    }
     
    .contenedor_menu nav a {
        display: flex;
        flex-direction: column;
        color: var(--color-texto);
        text-shadow: var(--sombra-menu);
        background-color: var(--color-fondo);
        padding: 20px 0px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menu_mostrado{ /*Clase manipulada por JS*/
        height: 235px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
        display: flex;
        flex-direction: column;
    }

    .contenedor_menu nav a:hover {
        background-color: var(--color-hover);
        border-radius: 10px;
        box-shadow: var(--sombra-btnmenu);
        transform: translateY(-15px) scale(1.1, 1.0);
    }
    
    h1{ font-size: 7.0vw;}
    
    #noticias{
        grid-template-columns: 1fr; /* las noticias solo 1 columna */
    }

    footer .contenedor_footer {
        flex-direction: column;
    }

    footer p { 
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }
}

